Package: com.nablac0d3.sslkillswitch2
Name: SSL Kill Switch 2
Depends: mobilesubstrate, preferenceloader
Version: 0.14
Architecture: iphoneos-arm
Description: Blackbox tool to disable SSL certificate validation - including certificate pinning - within iOS and OS X Apps.
Maintainer: Alban Diquet <nabla.c0d3@gmail.com>
Author: Alban Diquet <nabla.c0d3@gmail.com>
Section: Tweaks
